<div class="top-row navbar navbar-dark px-3">
    <a class="navbar-brand"
        [routerLinkActive]="['link-active']"
        [routerLinkActiveOptions]="{ exact: true }"
        [routerLink]="['/']">
        <div class="navbar-logo">
            <img src="assets/icon-mono-64-narrow.png" alt="Brand Logo by FD" />
        </div>
        <span>Leebruce</span>
    </a>

    <button
        class="navbar-toggler position-relative"
        (click)="toggleNavMenu()">
        <!-- <span>toggle</span> -->
        <span class="navbar-toggler-icon"></span>
        <span *ngIf="hasUpdates"
            class="position-absolute top-0 start-100 translate-middle p-2 bg-danger border border-light rounded-circle">
            <span class="visually-hidden">New alerts</span>
        </span>
    </button>
    <!-- <button type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        class="navbar-toggler">
        <span class="navbar-toggler-icon"></span>
    </button> -->
</div>

<!-- <div
    class="navbar-collapse"
    [ngClass]="{show: !collapseNavMenu}"
    (click)="toggleNavMenu()"> -->
<div id="navbarSupportedContent"
    class="navbar-collapse collapse"
    (click)="hideNavMenu()">

    <ul class="nav flex-column">
        <li class="nav-item ps-3" [routerLinkActive]="['link-active']">
            <a class="nav-link" [routerLink]="['/login']">
                <i class="bi bi-person"></i> Login
            </a>
        </li>
        <li class="nav-item ps-3" [routerLinkActive]="['link-active']">
            <a class="nav-link" [routerLink]="['/timetable']">
                <i class="bi bi-list-ol"></i> Timetable
            </a>
        </li>
        <li class="nav-item ps-3" [routerLinkActive]="['link-active']">
            <a class="nav-link" [routerLink]="['/schedule']">
                <i class="bi bi-calendar-week"></i> Schedule
                <span class="badge rounded-pill text-bg-info"
                    *ngIf="updates?.newEvents">
                    {{updates!.newEvents}}
                </span>
            </a>
        </li>
        <li class="nav-item ps-3" [routerLinkActive]="['link-active']">
            <a class="nav-link" [routerLink]="['/grades']">
                <i class="bi bi-clipboard-data"></i> Grades
                <span class="badge rounded-pill text-bg-info"
                    *ngIf="updates?.newGrades">
                    {{updates!.newGrades}}
                </span>
            </a>
        </li>
        <li class="nav-item ps-3" [routerLinkActive]="['link-active']">
            <a class="nav-link" [routerLink]="['/announcements']">
                <i class="bi bi-megaphone"></i> Announcements
                <span class="badge rounded-pill text-bg-info"
                    *ngIf="updates?.newAnnouncements">
                    {{updates!.newAnnouncements}}
                </span>
            </a>
        </li>
        <li class="nav-item ps-3" [routerLinkActive]="['link-active']">
            <a class="nav-link" [routerLink]="['/messages']">
                <i class="bi bi-envelope"></i> Messages
                <span class="badge rounded-pill text-bg-info"
                    *ngIf="updates?.newMessages">
                    {{updates!.newMessages}}
                </span>
            </a>
        </li>
    </ul>
</div>