<div class="top-row navbar">
    <a class="navbar-brand" href="">
        <span>Leebruce</span>
    </a>

    <!-- <button
        class="navbar-toggler"
        (click)="toggleNavMenu()">
        <span>toggle</span>
    </button> -->
    <button type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        class="navbar-toggler">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<!-- <div
    class="navbar-collapse"
    [ngClass]="{show: !collapseNavMenu}"
    (click)="toggleNavMenu()"> -->
<div id="navbarSupportedContent"
    class="navbar-collapse collapse">

    <ul class="nav flex-column">
        <li class="nav-item px-3"
            [routerLinkActive]="['link-active']"
            [routerLinkActiveOptions]="{ exact: true }">
            <a class="nav-link" [routerLink]="['/']">
                <i class="bi bi-house"></i> Home
            </a>
        </li>
        <li class="nav-item px-3" [routerLinkActive]="['link-active']">
            <a class="nav-link" [routerLink]="['/counter']">
                <i class="bi bi-plus-circle"></i> Counter
            </a>
        </li>
        <li class="nav-item px-3" [routerLinkActive]="['link-active']">
            <a class="nav-link" [routerLink]="['/login']">
                <i class="bi bi-person"></i> Login
            </a>
        </li>
        <li class="nav-item px-3" [routerLinkActive]="['link-active']">
            <a class="nav-link" [routerLink]="['/announcements']">
                <i class="bi bi-megaphone"></i> Announcements
            </a>
        </li>
        <li class="nav-item px-3" [routerLinkActive]="['link-active']">
            <a class="nav-link" [routerLink]="['/timetable']">
                <i class="bi bi-list-ol"></i> Timetable
            </a>
        </li>
        <li class="nav-item px-3" [routerLinkActive]="['link-active']">
            <a class="nav-link" [routerLink]="['/messages']">
                <i class="bi bi-envelope"></i> Messages
            </a>
        </li>
    </ul>
</div>