$collapse-threshold: 600px;
$collapse-threshold-for-min: 600.02px;

:host {
    color: var(--light-color);
}

.top-row {
    background-color: hsl(219, 91%, 15%);

    @media(prefers-color-scheme: light) {
        background-color: hsl(219, 100%, 22%);
    }
}

.navbar-brand {
    margin-right: 1rem;
    display: flex;
    align-items: center;

    .navbar-logo {
        height: 2em;
        padding: 5px;
        border: 1px solid rgba(255, 255, 255, 0.5);
        border-radius: 10px;
        box-shadow: 0 0 4px -2px white, 0 0 4px -2px white inset;

        img {
            height: 100%;
            scale: 1;
            filter: drop-shadow(0 0 1px white);
            vertical-align: baseline;
        }
    }

    span {
        font-size: 1.25rem;
        margin-left: 1rem;
        font-weight: 400;
        line-height: 30px;
        transition: color .2s;
    }
}

.navbar-collapse {
    padding: 0 .5rem .5rem;

    @media(min-width: $collapse-threshold-for-min) {
        display: flex !important;
        padding: .5rem 1rem 0;
    }
}

a {
    text-decoration: none;
    color: inherit;
    font-weight: inherit;
}

ul.nav {
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;
    width: 100%;
}

.nav-item {
    border-radius: 10px;
    transition: background-color .2s;

    &.link-active,
    &:hover {
        background-color: #ffffff26;
        transition: background-color .3s;
        color: #fff;
    }

    a {
        color: inherit !important;
    }

    @media(min-width: $collapse-threshold-for-min) {
        margin-bottom: .75rem;
    }
}

.nav-link {
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: baseline;
}

.bi {
    margin-right: 1.5ch;

    &::before {
        font-size: 1.2em;
    }
}

@media(min-width: $collapse-threshold-for-min) {
    .navbar-toggler {
        display: none;
    }

}