:host {
    color: var(--light-color);
}

a {
    text-decoration: none;
    color: inherit;
    font-weight: inherit;
}

.link-active {
    font-weight: bold;
}

.navbar-toggler {
    padding: .5rem;
}

ul.nav {
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;
    width: 100%;
}

li>a {
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: baseline;
}

.top-row {
    background-color: hsl(219, 91%, 15%);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 1rem;
    padding-left: 1rem;

    @media(prefers-color-scheme: light) {
        background-color: hsl(219, 100%, 22%);
    }
}

.bi {
    margin-right: 1.5ch;

    &::before {
        font-size: 1.2em;
    }
}

@media(max-width: 600px) {
    /* .navbar-collapse:not(.show) {
        display: none;
    } */
}

@media(min-width: 600px) {
    .navbar-toggler {
        display: none;
    }

    .navbar-collapse {
        display: flex !important;
    }
}