:host {
    @media (min-width: 800px) {
        max-height: 100%;
        display: grid;
        grid-template:
            "header ." auto
            "page details" 1fr / minmax(60%, 1fr) auto;
        grid-gap: 1rem;

        >:nth-child(1) {
            grid-area: header;
        }

        >:nth-child(2) {
            grid-area: page;
        }

        >:nth-child(3) {
            grid-area: details;
        }
    }

}

.calendar-header {
    display: grid;
    grid-template-areas: "prev month next today" "prev year next today";
    grid-template-columns: 2fr auto 1fr 1fr;
    align-items: end;

    >h3 {
        grid-area: month;
        margin-bottom: 0;
    }

    >span {
        grid-area: year;
        text-align: center;
    }

    >.prev {
        grid-area: prev;
        justify-self: end;
        margin-right: 1rem;
    }

    >.next {
        grid-area: next;
        justify-self: start;
        margin-left: 1rem;
    }

    >.set-today {
        grid-area: today;
        justify-self: end;
        margin-left: 1rem;
    }

    @media (max-width: 800px) {
        grid-template-areas: "prev month year today next";
        grid-template-columns: 2fr auto auto 1fr 1fr;

        >* {
            padding: 0 .5ch;
        }

        >.prev {
            justify-self: start;
        }

        >.next {
            justify-self: end;
        }
    }
}

.page-top {
    margin-top: 0;

    @media (max-width: 800px) {
        margin: .5rem 0;
    }
}

.details {
    overflow-y: auto
}

app-schedule-item:not(:last-child) {
    margin-bottom: 0.5rem;
}