@use "_event-types" as events with ($better-contrast: true);

:host {
    @media (min-width: 800px) {
        max-height: 100%;
        display: grid;
        grid-template-columns: minmax(60%, 1fr) auto;
        grid-template-rows: auto 1fr;
        grid-template-areas: "header ." "page details";
        grid-gap: 1rem;

        >:nth-child(1) {
            grid-area: header;
        }

        >:nth-child(2) {
            grid-area: page;
        }

        >:nth-child(3) {
            grid-area: details;
        }
    }

}

// calendar grid
.calendar-header {
    display: grid;
    grid-template-areas: "prev month next today" "prev year next today";
    grid-template-columns: 2fr auto 1fr 1fr;
    align-items: end;

    >h3 {
        grid-area: month;
        margin-bottom: 0;
    }

    >span {
        grid-area: year;
        text-align: center;
    }

    >.prev {
        grid-area: prev;
        justify-self: end;
        margin-right: 1rem;
    }

    >.next {
        grid-area: next;
        justify-self: start;
        margin-left: 1rem;
    }

    >.set-today {
        grid-area: today;
        justify-self: end;
        margin-left: 1rem;
    }

    @media (max-width: 800px) {
        grid-template-areas: "prev month year today next";
        grid-template-columns: 2fr auto auto 1fr 1fr;

        >* {
            padding: 0 .5ch;
        }

        >.prev {
            justify-self: start;
        }

        >.next {
            justify-self: end;
        }
    }
}

.page-top {
    margin-top: 0;

    @media (max-width: 800px) {
        margin: .5rem 0;
    }
}


.calendar-page {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 1rem;

    @media (max-width: 800px) {
        gap: .5rem;

        >* {
            padding: .15rem;
        }
    }

    @for $i from 1 through 7 {
        .day-box:nth-child(7n + #{$i}) {
            grid-column: $i;
        }
    }

    @for $i from 0 through 5 {
        .day-box:nth-child(n + #{7 * $i + 1}):nth-child(-n + #{7 * $i + 7}) {
            grid-row: #{$i+1};
        }
    }
}

.day {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 0;

    &:active {
        border-color: transparent;
    }
}

:disabled+.day {
    pointer-events: auto;
}

:checked+.day {
    border-color: transparent;

    >h5 {
        color: #9ec5fe;
    }
}

.shadowDay {
    opacity: 25% !important;
}

.currentDay {
    $frame-width: 5px;
    $frame-outer-radius: 7px;
    $frame-inner-radius: 4px;
    $frame-color: #c44242;

    position: relative;
    isolation: isolate;

    &::before {
        content: '';
        position: absolute;
        left: -$frame-width;
        right: -$frame-width;
        top: -$frame-width;
        bottom: -$frame-width;
        border-radius: $frame-outer-radius;
        border: solid $frame-color $frame-width;
        background: $frame-color;
        z-index: -2;
    }

    &::after {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        border-radius: $frame-inner-radius;
        background: var(--main-bg-color);
        z-index: -1;
    }
}

.week-bar {
    display: flex;
    grid-column: 1/-1;
    height: 100%;
    width: 100%;
    background: white;
    filter: opacity(0.15);
    pointer-events: none;
}

// event boubles
.event-bubble-bar {
    display: flex;
    flex-wrap: wrap;
}

.event-bubble {
    display: inline-block;
    height: .4em;
    aspect-ratio: 1;
    border-radius: .2em;
    margin: .2em;
    box-shadow: #646464 1px 1px 3px;

    @media (prefers-color-scheme: dark) {
        box-shadow: #484848 1px 1px 3px;
    }

    @each $eventType,
    $color in events.$colors {
        &.#{$eventType} {
            background-color: $color;
        }
    }

    @each $eventType in events.$events {
        &.#{$eventType}+.#{$eventType}+.#{$eventType}+.#{$eventType} {
            display: none;
        }
    }

    @media (max-width: 800px) {
        margin: .1em;

        @each $eventType in events.$events {
            &.#{$eventType}+.#{$eventType} {
                display: none;
            }
        }
    }
}

.details {
    overflow-y: auto
}

app-schedule-item:not(:last-child) {
    margin-bottom: 0.5rem;
}