<div class="subjects-display">
    <!-- ACTUAL CONTENT -->
    <app-grades-subject-item
        *ngFor="let subject of model?.subjects"
        [subject]="subject"
        (click)="select(subject)">
    </app-grades-subject-item>

    <!-- PLACEHOLDER -->
    <ng-container *ngIf="!model">
        <app-grades-subject-item
            class="placeholder-glow"
            *ngFor="let item of [].constructor(7); let index = index;"
            [subject]="undefined">
        </app-grades-subject-item>
    </ng-container>
</div>

<!-- Modal -->
<div class="modal fade" id="subjectGradesModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable"
        style="--bs-modal-width: max-content;">
        <div class="modal-content">
            <!-- subject        x -->
            <!-- date author      -->
            <div class="modal-header grades-modal-header">
                <h3 class="modal-title fs-5">{{selected?.subject}}</h3>
                <button class="btn-close align-self-start" type="button"
                    data-bs-dismiss="modal" aria-label="Close"></button>
                <small class="align-self-baseline text-muted">
                    <span *ngIf="selected?.average">
                        Average: {{selected?.average | number: "1.2-2"}}
                    </span>
                    <span *ngIf="!selected?.average">
                        {{selected?.percent | number: "1.2-2"}}%
                    </span>
                    <span *ngIf="selected?.weightsSum">
                        (Sum&nbsp;of&nbsp;weights:&nbsp;{{selected?.weightsSum | number: "1.0-2"}})
                    </span>
                </small>
                <small class="text-muted form-check form-switch form-check-reverse m-0">
                    <input id="flexSwitchCheckDefault"
                        class="form-check-input"
                        type="checkbox" role="switch"
                        [attr.checked]="showOnlyNew ? '' : null"
                        (click)="toggleShowOnlyNew()">
                    <label class="form-check-label" for="flexSwitchCheckDefault">Show only new</label>
                </small>
            </div>
            <!--   content   -->
            <div class="modal-body">
                <div *ngIf="selected" class="grades-display">
                    <h5>First term</h5>
                    <div *ngIf="firstTermGrades()?.length" class="hexagon-grid">
                        <app-grade-item
                            *ngFor="let grade of firstTermGrades()"
                            [grade]="grade">
                        </app-grade-item>
                    </div>
                    <p *ngIf="!firstTermGrades()?.length">
                        No grades
                    </p>
                    <h5>Second term</h5>
                    <div *ngIf="secondTermGrades()?.length" class="hexagon-grid">
                        <app-grade-item
                            *ngFor="let grade of secondTermGrades()"
                            [grade]="grade">
                        </app-grade-item>
                    </div>
                    <p *ngIf="!secondTermGrades()?.length">
                        No grades
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>