<p>Log in</p>
<form class="{{wasSubmited?'was-validated':''}}"
    name="form"
    #f="ngForm"
    (ngSubmit)="this.wasSubmited = true"
    (ngSubmit)="f.form.valid && onSubmit()" novalidate>
    <input class="form-control"
        type="text"
        name="username"
        placeholder="username"
        #username="ngModel"
        [(ngModel)]="form.username"
        required />

    <input class="form-control"
        type="password"
        name="password"
        placeholder="password"
        #passwordInput
        #password="ngModel"
        [(ngModel)]="form.password"
        required />

    <button type="submit"
        class="submit btn btn-primary py-1"
        [disabled]="isProcessing">
        <ng-container *ngIf="!isProcessing">Log in</ng-container>
        <ng-container *ngIf="isProcessing">
            <span class="spinner-border spinner-border-sm"></span>
            Loging in...
        </ng-container>
    </button>

    <div class="validation error-box" *ngIf="isInvalidCredentials">Invalid username or password.</div>

</form>