form {
    display: grid;
    grid-template-columns: max-content;
    grid-template-areas:
        "user"
        "password"
        "submit"
        "error";
    width: max-content;
    gap: .2rem;
    margin: .2rem 0;
}

input {
    margin-bottom: auto;
}

input[name="username"] {
    grid-area: user;
}

input[name="username"] + .input-validation {
    grid-area: user-validation;
}

input[name="password"] {
    grid-area: password;
}

input[name="password"] + .input-validation {
    grid-area: password-validation;
}

.validation {
    /* color: hsl(0, 90%, 65%); */
    width: 100%;
    margin-top: 0.25rem;
    font-size: .875em;
    color: var(--bs-danger-text);
}

.submit {
    grid-area: submit;
}

.error-box {
    grid-area: error;
}

@media(max-width: 600px) {
    form {
        grid-template-columns: 1fr;
        grid-template-areas: initial;
        width: 100%;
    }

    form > * {
        grid-area: initial;
    }
}