<p>Log in</p>
<form class="{{wasSubmited?'was-validated':''}}"
    name="form"
    #f="ngForm"
    (ngSubmit)="this.wasSubmited = true"
    (ngSubmit)="f.form.valid && onSubmit()" novalidate>
    <input class="form-control"
        type="text"
        name="username"
        placeholder="username"
        #username="ngModel"
        [(ngModel)]="form.username"
        required />
    <!-- <div class="invalid-feedback">
        Please choose a username.
    </div>

    <div class="validation input-validation"
        *ngIf="username.invalid && (username.dirty || username.touched || f.submitted)">
        <div *ngIf="username.errors?.['required']">Username is required.</div>
    </div> -->

    <input class="form-control"
        type="password"
        name="password"
        placeholder="password"
        #password="ngModel"
        [(ngModel)]="form.password"
        required />

    <!-- <div class="validation input-validation"
        *ngIf="password.invalid && (password.dirty || password.touched || f.submitted)">
        <div *ngIf="password.errors?.['required']">Password is required.</div>
    </div> -->

    <button class="submit btn btn-primary py-1" type="submit">Login</button>

    <div class="validation error-box" *ngIf="isInvalidCredentials">Invalid username or password.</div>

</form>