:host {
    display: grid;
    margin-bottom: .75rem;
    grid-template-columns: 2rem 1fr;
    grid-template-areas:
        "marker data"
        "marker data"
        "marker data";
    font-family: 'Work Sans', sans-serif;
}

.tile {
    grid-area: data;
    display: grid;
    grid-template-columns: auto 1fr auto;
    grid-template-areas:
        "subj subj subj"
        "time . room"
        "name name room";
    padding: .3rem;
    padding-left: .75rem;
    padding-right: .75rem;
    border-radius: .75rem;
    background: bisque;
    color: var(--dark-color);
    text-shadow: var(--light-color) 0 0 4px;
}

@for $i from 0 through 36 {
    $tile-saturation: 90%;
    $tile-lightness: 78%;

    .tile-#{$i} {
        background-color: hsl($i*10, $tile-saturation, $tile-lightness);
    }
}

.tile>div {
    display: flex;
    align-items: center;
}

.marker {
    grid-area: marker;
    display: grid;
    grid-template-rows: 1fr auto 1fr;
    justify-items: center;
    padding-top: .4rem;
    padding-bottom: .4rem;
}

.marker .line {
    height: auto;
    width: 0;
    border-left: dashed 3px var(--bg-accent-color)
}

.marker .circle {
    width: .9rem;
    height: .9rem;
    border-radius: .45rem;
    border: 3px solid var(--bg-accent-color);
}

:host.completed .marker .circle {
  background: var(--mid-color);
}

:host.ongoing .marker .circle {
    background: var(--bs-info);
}

/* :host.upcomming .marker .circle {} */


.subject {
    grid-area: subj;
    font-size: 1.2rem;
}

.time {
    grid-area: time;
    font-size: .75rem;
}

.name {
    grid-area: name;
    font-size: .7rem;
}

.room {
    grid-area: room;
    display: flex;
    align-items: flex-end;
}

.substitution {
    font-size: .8em;
    text-decoration: line-through;
}

.cancelled {
    text-decoration: line-through;
}
