<!--    date select   -->
<!--    week select   -->
<!--        ---       -->
<!-- timetable records -->
<div class="container">

    <div class="row date-pick-roll">

        <!-- ACTUAL CONTENT -->
        <ng-container *ngIf="timetableDays">
            <div *ngFor="let day of timetableDays" class="date-pick-wrap p-1">
                <!--  day  -->
                <!-- month -->
                <button class="btn btn-hvr-translate date-pick {{getDatePickClass(day)}}" (click)="select(day.date)">
                    <h5>{{day.date | date: "dd"}}</h5>
                    <span>{{day.date | date: "MMM"}}</span>
                </button>
            </div>
        </ng-container>

        <!-- PLACEHOLDER -->
        <ng-container *ngIf="!timetableDays">
            <div *ngFor="let item of [].constructor(7); let index = index;" class="date-pick-wrap p-1 placeholder-glow">
                <button class="btn btn-hvr-translate inactive date-pick"
                    [ngClass]="index==4?'btn-primary selected':'btn-secondary'">
                    <h5 class="placeholder d-block">&nbsp;&nbsp;</h5>
                    <span class="placeholder d-block font-monospace">&nbsp;&nbsp;&nbsp;</span>
                </button>
            </div>
        </ng-container>
    </div>
    <!-- previous now next -->
    <div class="row">
        <button class="col-5 btn btn-inherit p-0" (click)="previous()">&lt; previous week</button>
        <button class="col-2 btn btn-inherit p-0" (click)="today()">today</button>
        <button class="col-5 btn btn-inherit p-0" (click)="next()">next week &gt;</button>
    </div>

    <!-- --- -->
    <hr class="row" />

    <div class="list row justify-content-center">
        <!-- ACTUAL CONTENT -->
        <ng-container *ngIf="current">
            <!-- timetable record -->
            <div *ngFor="let lesson of current.lessons" style="display: flex; justify-content:center">
                <app-timetable-item *ngIf="lesson" class="col-12 col-md-8 col-lg-6 col-xl-5"
                    [lessonModel]="lesson"
                    [state]="getLessonState(lesson)">
                </app-timetable-item>
            </div>
        </ng-container>

        <!-- PLACEHOLDER -->
        <ng-container *ngIf="!current">
            <!-- timetable record -->
            <div *ngFor="let item of [].constructor(7); let index = index;"
                style="display: flex; justify-content:center">
                <app-timetable-item class="col-12 col-md-8 col-lg-6 col-xl-5 placeholder-glow"
                    [lessonModel]="undefined"
                    [state]="'upcomming'"
                    State="GetTileState(lesson, current.Date)">
                </app-timetable-item>
            </div>
        </ng-container>
    </div>
</div>