.date-pick-roll {
    flex-wrap: nowrap;
    overflow: auto;
    justify-content: center;
}

.date-pick-wrap {
    display: flex;
    justify-content: center;
    width: auto;

    @media(max-width: 800px) {
        padding-left: 0.15rem !important;
        padding-right: 0.15rem !important;
        max-width: 14.2857142857%;
    }
}

.date-pick {
    transition: transform .1s;

    $unselected-scale: scale(0.85);
    $hover-translate: translate(2px, -2px);

    &:not(.selected) {
        transform: $unselected-scale;
    }

    &:not(.selected):hover {
        transform: $unselected-scale $hover-translate;
    }

    &.selected:hover {
        transform: $hover-translate;
    }

    @media(max-width: 800px) {
        --bs-btn-padding-x: min(0.5rem, 1.5vw);

        >h5 {
            font-size: min(1.25rem, calc(0.75rem + 2vw));
        }

        >span {
            font-size: min(1rem, calc(0.75rem + 1vw));
        }
    }

}