<!--    date select   -->
<!--    week select   -->
<!--        ---       -->
<!-- timetable records -->
<div class="container">

    <div class="row date-pick-roll">
        <div *ngFor="let day of model.weekDays" class="date-pick-wrap p-1">
            <!--  day  -->
            <!-- month -->
            <button class="btn btn-hvr-translate date-pick {{getDatePickClass(day)}}" (click)="select(day)">
                <h5>{{day | date: "dd"}}</h5>
                <span>{{day | date: "MMM"}}</span>
            </button>
        </div>
    </div>
    <!-- previous now next -->
    <div class="row">
        <button class="col-5 btn btn-inherit p-0" (click)="previous()">&lt; previous week</button>
        <button class="col-2 btn btn-inherit p-0" (click)="today()">today</button>
        <button class="col-5 btn btn-inherit p-0" (click)="next()">next week &gt;</button>
    </div>

    <!-- --- -->
    <hr class="row" />

    <div class="list row justify-content-center">
        <!-- ACTUAL CONTENT -->
        <ng-container *ngIf="model.current">
            <!-- timetable record -->
            <div *ngFor="let lesson of model.current.lessons" style="display: flex; justify-content:center">
                <app-timetable-item *ngIf="lesson" class="col-12 col-md-8 col-lg-6 col-xl-5"
                    [lessonModel]="lesson"
                    [state]="getLessonState(lesson)">
                </app-timetable-item>
            </div>
        </ng-container>
        <!-- PLACEHOLDER when something loaded -->
        <ng-container *ngIf="!model.current && model.subjectSuggestions">
            <!-- timetable record -->
            <div *ngFor="let subject of model.subjectSuggestions" style="display: flex; justify-content:center">
                <app-timetable-item class="col-12 col-md-8 col-lg-6 col-xl-5"
                    [subjectSuggestion]="subject"
                    [state]="getDateLessonState(model.currentDate)">
                </app-timetable-item>
            </div>
        </ng-container>

        <!-- PLACEHOLDER when nothing loaded -->
        <ng-container *ngIf="!model.current && !model.subjectSuggestions">
            <!-- timetable record -->
            <div *ngFor="let item of [].constructor(7); let index = index;"
                style="display: flex; justify-content:center">
                <app-timetable-item class="col-12 col-md-8 col-lg-6 col-xl-5 placeholder-glow"
                    [lessonModel]="undefined"
                    [state]="'upcomming'"
                    State="GetTileState(lesson, current.Date)">
                </app-timetable-item>
            </div>
        </ng-container>
    </div>
</div>