/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.min.css";
@import "~bootstrap-icons/font/bootstrap-icons.css";

*,
*::before,
*::after {
    box-sizing: border-box;
}

:root {
    color-scheme: dark light;
    --light-color: #ccc;
    --dark-color: #2d2d30;
    --main-bg-color: var(--light-color);
    --main-text-color: var(--dark-color);
}

@media (prefers-color-scheme: dark) {
    :root {
        color-scheme: dark light;
        --main-bg-color: var(--dark-color);
        --main-text-color: var(--light-color);
    }
}


html,
body {
    height: 100%;
    /* background-color: var(--main-bg-color); */
    /* color: var(--main-text-color); */
}

body {
    margin: 0;
    height: 100%;
}

[data-bs-theme=dark] {
    --bs-body-bg: var(--main-bg-color);
    --bs-body-color: var(--main-text-color);
}