/* You can add global styles to this file, and also import other style files */
@import "bootstrap/dist/css/bootstrap.min";
@import "bootstrap-icons/font/bootstrap-icons.css";

*,
*::before,
*::after {
    box-sizing: border-box;
}

:root {
    color-scheme: light dark;
    --white-color: #fff;
    --light-color: #ccc;
    --mid-light-color: #999;
    --mid-color: #777;
    --mid-dark-color: #5d5d65;
    --dark-color: #2d2d30;
    --black-color: #000;

    --main-bg-color: var(--white-color);
    --main-text-color: var(--dark-color);
    --bg-accent-color: var(--light-color);
}

@media (prefers-color-scheme: dark) {
    :root {
        color-scheme: dark light;
        --main-bg-color: var(--dark-color);
        --main-text-color: var(--light-color);
        --bg-accent-color: var(--mid-dark-color)
    }
}

[data-bs-theme=dark] {
    --bs-body-bg: var(--main-bg-color);
    --bs-body-color: var(--main-text-color);
}

html,
body {
    height: 100%;
    background-color: var(--main-bg-color);
    color: var(--main-text-color);
}

body {
    margin: 0;
    height: 100%;
}

.btn-inherit {
    color: inherit;
    transition: filter .3s, transform .1s;
}

.btn-inherit:hover {
    filter: brightness(150%);
    transform: translate(2px, -2px);
}

.placeholder {
    border-radius: 0.3ch;
}

// placeholder with actual text instead of solid rectangle
.prefilled-placeholder {
    @extend .placeholder;
    background-color: unset;
}

.capitalise-first::first-letter {
    text-transform: capitalize;
}

.text-inherit {
    color: inherit;
}

.align-start {
    text-align: start;
}